<aside class="sidebar">
    <div class="logo">
        <i class="fas fa-link"></i> Happen Chain
    </div>

    <ul class="nav-links">
        <li class="{% if request.path == '/dashboard/' %}active{% endif %}">
            <a href="{% url 'college_admin:dashboard' %}">
                <i class="fas fa-th-large"></i> Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'college_admin:department_admins' %}">
                <i class="fas fa-user-shield"></i>
                Dept. Admins
            </a>
        </li>

        <li>
            <a href="{% url 'college_admin:manage_departments' %}">
                <i class="fas fa-building"></i> Manage Departments
            </a>
        </li>

        <li>
            <a href="{% url 'college_admin:manage_courses' %}">
                <i class="fas fa-book-open"></i> Manage Courses
            </a>
        </li>

        <li>
            <a href="{% url 'college_admin:events_registry' %}">
                <i class="fas fa-calendar-alt"></i> Events Registry
            </a>
        </li>

        <li>
            <a href="{% url 'college_admin:analytics' %}">
                <i class="fas fa-chart-line"></i> Analytics
            </a>
        </li>
        <li>
            <a href="{% url 'college_admin:my_complaints' %}">
                <i class="fas fa-exclamation-circle"></i> Complaints
            </a>
        </li>
    </ul>

    <a href="{% url 'college_admin:college_admin_profile' %}" class="user-profile" style="text-decoration:none;">
        <div class="avatar">
            <i class="fas fa-user"></i>
        </div>
        {{user.appuser.college.name}}
    </a>
    <form method="post" action="{% url 'common-logout' %}">
        {% csrf_token %}
        <button class="logout-btn" type="submit">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button>
    </form>

</aside>